# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
venv/
ENV/
*.log

# ReportLab / PDF cache
*.pdf

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
